
<div class="row">
    
  <!-- Portfolio Item FACTURA -->
  <div class="col-md-6 col-lg-4">
    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
        <div class="portfolio-item-caption-content text-center text-white">
          INVOICE <br> 
          <i class="fas fa-search-plus fa-3x" title="Ver Descripción"></i>
        </div>
      </div>
      <img class="img-fluid" src="assets/img/portfolio/fondo_factura.png" alt="">
    </div>
  </div>

  <!-- Portfolio Item COVID -->
  <div class="col-md-6 col-lg-4">
    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
        <div class="portfolio-item-caption-content text-center text-white">
          COVID-19 <br>   
          <i class="fas fa-search-plus fa-3x" title="Ver Descripción"></i>
        </div>
      </div>
      <img class="img-fluid" src="assets/img/portfolio/fondo_covid.png" alt="">
    </div>
  </div>


  <!-- Portfolio Item Web Restaurant -->
  <div class="col-md-6 col-lg-4">
    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModalWebRestaurant" data-backdrop="static" data-keyboard="false">
      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
        <div class="portfolio-item-caption-content text-center text-white">
          Web Restaurant <br>   
          <i class="fas fa-search-plus fa-3x" title="Ver Descripción"></i>
        </div>
      </div>
      <img class="img-fluid" src="assets/img/portfolio/resturant_web.png" alt="">
    </div>
  </div>

  <!-- Portfolio Item APP FLUTTER -->
  <div class="col-md-6 col-lg-4">
    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModalPedidosApp" data-backdrop="static" data-keyboard="false">
      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
        <div class="portfolio-item-caption-content text-center text-white">
          PedidosApp <br>   
          <i class="fas fa-search-plus fa-3x" title="Ver Descripción"></i>
        </div>
      </div>
      <img class="img-fluid" src="assets/img/portfolio/fondo_app.png" alt="">
    </div>
  </div>

  <!-- Portfolio Item TIENDA -->
  <div class="col-md-6 col-lg-4">
    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioOnlineStore" data-backdrop="static" data-keyboard="false">
      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
        <div class="portfolio-item-caption-content text-center text-white">
          ONLINE STORE <br>   
          <i class="fas fa-search-plus fa-3x" title="Ver Descripción"></i>
        </div>
      </div>
      <img class="img-fluid" src="assets/img/portfolio/fondo_tienda.png" alt="">
    </div>
  </div>

</div>