<div class="container" onscroll="myFunction()">
  
    <!-- Contact Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
      <i class="fa fa-address-book" aria-hidden="true"></i>
      CONTACT
    </h2>

    <hr>

    <div class="row contacto box">
      <div class="col-12 col-lg-6">
        <div class="cardContacto">
          <div class="container">
            <div class="row">

              <div class="col-2 col-sm-4 text-right">
                <i class="fas fa-envelope iconoContacto"></i>
              </div>
              <div class="col-10 col-sm-8 text-left">
                <h4>Email: </h4>
                <p> jorge_rivera122@hotmail.com </p>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="cardContacto">
          <div class="container">
            <div class="row">

              <div class="col-2 col-sm-4 text-right">
                <i class="fas fa-phone-alt iconoContacto"></i>
              </div>
              <div class="col-10 col-sm-8 text-left">
                <h4>Phone: </h4>
                <p> 4040222 - 0981056704 </p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class=" col-12">
        <div class="cardContacto">
          <h3>SOCIAL NETWORKS</h3>
          <a class="mx-1" href="https://www.linkedin.com/in/jorge-rivera-0151a41b2/" title="Linkedin">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="mx-1" href="https://bit.ly/2ZD4YaH" title="Whatssap">
            <i class="fab fa-fw fa-whatsapp"></i>
          </a> 
        </div>
      </div>
      
      <div class="col-12">
        <div class="cardContacto">
            <h3>DOWNLOAD</h3>
            <a class="btn btn-info btn-sm" href="documentos/CV_JORGE RIVERA.pdf" target="_blank">
              <i class="fas fa-download"></i>
              Curriculum Vitae
            </a>
        </div>
      </div>
    </div>
    <hr> 
        
  </div>