<div class="container">

    <!-- About Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-black">
      <i class="fa fa-cogs" aria-hidden="true"></i>
      SKILLS
      <div id='demo'></div>
    </h2>
    
    <div class="habilidad">        
      <hr>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="cardSkill">
            <h4>DATABASE</h4>
            <h5>Relational</h5>
            <ul>
              <li>Oracle</li>
              <li>MySQL</li>
              <li>PostgreSQL</li>
              <li>H2</li>
            </ul>
            <h5>No Relational</h5>
            <ul>
              <li>SQLite</li>
              <li>mongoDB</li>
              <li>RealtimeDB</li>
            </ul>   
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="cardSkill">
            <h4>FRONTEND</h4>
            <h5>Basics</h5>
            <ul>
              <li>HTML</li>
              <li>JavaScript</li>
              <li>CSS</li>
            </ul>
            <h5>Frameworks</h5>
            <ul>
              <li>Angular</li>
              <li>React</li>
            </ul>   
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="cardSkill">
            <h4> BACKEND</h4>
            <h5>Technology</h5>
            <ul>
              <li>Java(Spring)</li>
              <li>Node</li>
              <li>PHP</li>
            </ul> 
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="cardSkill">
            <h4>MOVILE APP</h4>
            <h5>Android</h5>
            <ul>
              <li>JAVA</li>
            </ul> 
            <h5>Cross Platform</h5>
            <ul>
              <li>Ionic</li>
              <li>Flutter</li>
              <li>React Native</li>
            </ul> 
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="cardSkill">
            <h4>VERSION CONTROL</h4>
            <h5>Repositories</h5>
            <ul>
              <li>GIT</li>
              <li>SUBVERSIÓN</li>
            </ul> 
          </div>
        </div>
      </div>
      <hr>
    </div>

  </div>